*,
::after,
::before {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0 !important;
}


body {
    background-color: #ccc;
}


.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -110px;
    gap: 20px;
}

.form-check-input {
    border: 1.5px solid #935ddd;
    width: 25px;
    height: 25px;

}

.submit.form-check-input:checked {
    border: 1.5px solid #935ddd;
    background-color: #fff;
}

.form-check-input:checked {
    background-color: #9357de;
    border-color: #a95ee3;
}

.submit.form-check-input:focus {
    box-shadow: none;
}

.task .container .list {
    width: 50%;
    /* padding: 30px 0; */
    background-color: white;
    /* padding: 10px 0; */
}

.task .container .list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.delete {
    display: none;
    transition: 0.3s;
}

form:hover .delete,
li:hover .delete {
    display: flex;
}

#task-form img {
    width: 100%;
    display: block;
    height: 280px;
}

.task-form {
    width: 50%;
}

.footer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    line-height: 70px;
}


.input-group-text {
    border: none;
    background-color: white;
    border-radius: unset
}

.form-control {
    border: none;
    line-height: 60px;
}

#task-form .form-control:focus {
    border: none !important;
    background-color: white;
    box-shadow: none
}


.option {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}


.option a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form .delete,
.clear-item {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #ccc;
}

textarea {
    resize: none;
    width: 100%;
    border: none;
    overflow: hidden;

}

.form-control:disabled {
    background-color: #fff;
    opacity: 1;
}


/********************************/
/********************************/



/********************************/
/********************************/





/********************************/
/********************************/



/********************************/
/********************************/



/********************************/
/********************************/

@media(max-width:767px) {}

@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}